{{#partial "contenido"}}

<form name="detallePOI">

<div class="jumbotron">

  {{#with poi}}
	<h1> POI: {{this.nombre}} </h1>
	<br>
	<p><strong>Direccion:</strong> {{this.direccionString}}</p>
	<br>
	
	<h3>Ubicacion</h3>
	<style>
	   #map {
	        height: 400px;
	        width: 100%;
	       }
	</style>
	<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: {{this.latitud}}, lng: {{this.longitud}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMsV0UaRboqdTWSR13EV0d_xgsi8Qjbsg&callback=initMap">
    </script>
	
	<br>
	<p><strong>Etiquetas:</strong> {{this.etiquetas}} </p>
	<br>
	<p><strong>Horarios:</strong> {{this.horarios}} </p>
	
	
{{/with}}
  
</div>	

</form>

{{/partial}}

{{>layout.hbs}}